* {
  max-width: fit-content;
  margin: 0;
  padding: 0;
}

body.light-mode {
    background-color: #fcfcfc;
    color: #333333;
  }
  
  /* Стили для темной темы */
  body.dark-mode {
    background-color: #333333;
    color: #ffffff;
  }
  
  .form.dark-mode {
    background-color: #000000;
    color: #fff;
  }

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px; /*зазор между элементами  */
    justify-content: center;
    height: 100vh;
}

.form-container {

}

.big-img {
  max-width: 100%;
  /* padding: 40px; */
}


.mode {
  display: block;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #223254;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.theme-toggle {
    margin-right: 20px;
  }

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.subtitle {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 40px;
}
.form {
}
.group {
}
.label {
  font-size: 14px;
  font-weight: 500;
}
.input {
  display: block;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: #f0f2f5;
  font-size: 16px;
  font-weight: 500;
}

input::placeholder {
  color: #bfc7d5;
}

.footer {
  margin-bottom: 24px;
}
.form__text {
}
.form_button {
}

/* Для мобильных устройств вы можете изменить порядок столбцов */
@media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr;
    }
  }